{% extends "templates/base.html" %}

{% block title %}
Contact + Skills
{% endblock %}

{% block content %}
<div class="container-fluid contact-8 text-center">
	<h3 class="margin">Contact Info and Skills</h3>
  		<img src="static/me.JPG" class="img-responsive img-rounded corners" style="display:inline" alt="myself" width="175" height="175">
</div>

<div class="container-fluid home-3 text-center"> 
  <h3 class="margin">Phone Number and Email </h3><br>
  <div class="row">
    <div class="col-md-6">
      <p>My cell phone number is 269-352-1904. You may call me before 3 PM on Monday and Wednesdays, after 2:30 on Tuesdays and Thursdays and anytime during the weekend.</p>
    </div>
    <div class="col-md-6"> 
      <p>My email is jessandr@umich.edu. I check my email frequently, so you should have a response from me within 24 hours. My address is at the top if you need it! </p>
    </div>
  </div>
</div>
<div class="container-fluid interestsandphoto-5 text-center">
  <h3 class="margin">Skills</h3>
    <p> Over the past year I have gained knowledge of various programming languages such as Python and JavaScript along with HTML and CSS. I am fluent in HTML and CSS, proficient in Python and beginner in JavaScript. I am also familiar with Google App Engine!</p>
</div>
{% endblock %}