
{% extends "templates/base.html" %}

{% block title %}
Interests
{% endblock %}

		
{% block content %}
<div class="container-fluid interests-7 text-center">
  <h3 class="margin">Check out my Organizations + Clubs Below</h3>
  <img src="static/bpc.jpg" class="img-responsive img-rounded corners" style="display:inline" alt="BPC" width="195" height="195">
   <img src="static/phi.jpg" class="img-responsive img-rounded corners" style="display:inline" alt="PhiAlpha" width="200" height="200">
</div>

<div class="container-fluid interestsandphoto-5 text-center">
  <h3 class="margin">Body Peace Corps</h3>
  <p>Body Peace Corps: First semester of my sophomore year I joined Body Peace Corps (BPC) a student wellness group on campus that focuses on promoting body positivity through events, workshops, a dialogues. I started out as a regular member but also became trained to be a workshop facilitator, and have recently joined the executive board. You can check us out at Wolverine Welness on the second and third floor of University Health Services or email us at bodypeacecorps@umich.edu and bpcfacilitators@umich.edu. </p>
</div>
<!-- Second Container (Grid) -->
<div class="container-fluid home-3 text-center"> 
  <h3 class="margin">Phi Rho Alpha</h3>
      <p>Phi Rho Alpha: I joined Phi Rho Alpha, a local sorority only at U of M my first semester of my freshman year. I also joined the executive board as the house manager of our sorority house this year. My duties include creating the chore chart, dealing with repairs by acting as liaison between the other housemates and the landlord, and fining people when necessary. Want to find out more about us? Feel free to email our president Ashley at president@phirhoalpha.com or check out our website <a href="http://phirhoalpha.com/" target="_blank">phirhoalpha.com</a></p>
 </div>
{% endblock %}


