{% extends "templates/base.html" %}

{% block title %}
Photo
{% endblock %}


{% block content %}
<div class="container-fluid photo-2 text-center">
	<h3 class="margin">Family, Friends, and Food</h3>
  		<img src="static/me.jpg" class="img-responsive img-rounded corners" style="display:inline" alt="myself" width="200" height="200">
</div>
<div class="container-fluid interestsandphoto-5 text-center">
  <h3 class="margin">Photos</h3>
    <div class="row">
      <div class="col-md-3">
		<img src="static/all.jpg" class="img-responsive img-rounded corners margin" style="width:75%" alt="friends"><br>
		<img src="static/bidnight.jpg" class="img-responsive img-rounded corners margin" style="width:45%"alt="bidnight"><br>
		<img src="static/elenajess.jpg" class="img-responsive img-rounded corners margin" style="width:65%"alt="elenaandjess">
	 </div>
	 <div class="col-md-3">
	   <img src="static/savinajess.jpg" class="img-responsive img-rounded corners margin" style="width:55%"alt="savinandjess"><br>
	   <img src="static/kaitjess.jpg" class="img-responsive img-rounded corners margin" style="width:50%"alt="kaitlynnandjess"><br>
	   <img src="static/friends.jpg" class="img-responsive img-rounded corners margin" style="width:70%"alt="friends"><br>
	   <img src="static/golfing.jpg" class="img-responsive img-rounded corners margin" style="width:70%" alt="golf"><br>
	 </div>
	 <div class="col-md-3">
	   <img src="static/momdad.jpg" class="img-responsive img-rounded corners margin" style="width:75%"alt="momanddad"><br>
	   <img src="static/tailgate.jpg" class="img-responsive img-rounded corners margin" style="width:70%"alt="tailgate"><br>
	   <img src="static/tailgatee.jpg" class="img-responsive img-rounded corners margin" style="width:80%"alt="tailgate"><br>
	   <img src="static/emilyandjess.jpg" class="img-responsive img-rounded corners margin" style="width:70%" alt="bidnight"><br>
	 </div>
	 <div class="col-md-3">
	   <img src="static/peru.jpg" class="img-responsive img-rounded corners margin" style="width:80%" alt="peru"><br>
	   <img src="static/sky.jpg" class="img-responsive img-rounded corners margin" style="width:75%" alt="sky"><br>
	   <img src="static/tau.jpg" class="img-responsive img-rounded corners margin" style="width:90%" alt="tau"><br>
	   <img src="static/waffles.jpg" class="img-responsive img-rounded corners margin" style="width:70%" alt="wafflez"><br>
	 </div>
   </div>
</div>

{% endblock %}
	