{% extends "templates/base.html" %}

{% block title %}
Photo
{% endblock %}


{% block content %}
<div class="container-fluid photo-2 text-center">
	<h3 class="margin">Family, Friends, and Food</h3>
  		<img src="static/me.jpg" class="img-responsive img-rounded corners" style="display:inline" alt="myself" width="175" height="175">
</div>
<div class="container-fluid interestsandphoto-5 text-center">
  <h3 class="margin">Photos</h3>
    <div class="row">
      <div class="col-md-3">
      <p>Sorority Sisters<p>
      	<img src="static/tau.jpg" class="img-responsive img-rounded corners margin" style="width:90%" alt="tau"><br>
		<img src="static/tailgatee.jpg" class="img-responsive img-rounded corners margin" style="width:80%" alt="tailgate"><br>
		<img src="static/emilyandjess.jpg" class="img-responsive img-rounded corners margin" style="width:70%" alt="bidnight"><br>
		<img src="static/friends.jpg" class="img-responsive img-rounded corners margin" style="width:85%"alt="friends"><br>
	 </div>
	 <div class="col-md-3">
	 <p>Childhood Friends</p>
	   <img src="static/savinajess.jpg" class="img-responsive img-rounded corners margin" style="width:70%" alt="savinandjess"><br>
	   <img src="static/yvettejess.jpg" class="img-responsive img-rounded corners margin" style="width:75% " alt="yvetteandjessica"><br>
	   <img src="static/kaitjess.jpg" class="img-responsive img-rounded corners margin" style="width:60%" alt="kaitlynnandjess"><br>
	   <img src="static/all.jpg" class="img-responsive img-rounded corners margin" style="width:80%" alt="elenaandjess">
	 </div>
	 <div class="col-md-3">
	 <p>Family</p>
	   <img src="static/momdad.jpg" class="img-responsive img-rounded corners margin" style="width:80%"alt="momanddad"><br>
	   <img src="static/dadandsarah.jpg" class="img-responsive img-rounded corners margin" style="width:80%" alt="fathersday"><br>
	   <img src="static/summer2014.jpg" class="img-responsive img-rounded corners margin" style="width: 80%" alt="summer"><br>
	   <img src="static/canada.jpg" class="img-responsive img-rounded corners margin" style="width: 70%" alt="triptocanada"><br>
	 </div>
	 <div class="col-md-3">
	 <p>Nature + Food</p>
	   <img src="static/peru.jpg" class="img-responsive img-rounded corners margin" style="width:80%" alt="peru"><br>
	   <img src="static/sky.jpg" class="img-responsive img-rounded corners margin" style="width:80%" alt="sky"><br>
	   <img src="static/IMG_8141.JPG" class="img-responsive img-rounded corners margin" style="width:70%" alt="pasta"><br>
	   <img src="static/waffles.jpg" class="img-responsive img-rounded corners margin" style="width:70%" alt="wafflez"><br>
	 </div>
   </div>
</div>

{% endblock %}
	